# deps
node_modules

# next build output
.next
out

# common build artifacts
dist
coverage
*.log
generated

# misc
.vercel
.turbo

# lockfiles
pnpm-lock.yaml
package-lock.json
yarn.lock

# generated UI files
components/ui
